<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contributors</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></link>
</head>
<body>
    <div>
        <h1>Enter Repository Link</h1>
    </div>
    <form class="ui form">
        <div class="field">
            <label>Enter repository url: </label>
            <input type="text" name="search" placeholder="search">
            <button class="ui button" type="submit">Search</button>

        </div>
    </form>
    <hr>
</body>
</html>